// Colores base
$color-red: #e57373;
$color-pink: #f06292;
$color-purple: #ba68c8;
$color-deeppurple: #9575cd;
$color-indigo: #7986cb;
$color-blue: #64b5f6;
$color-lightblue: #4fc3f7;
$color-cyan: #4dd0e1;
$color-teal: #4db6ac;
$color-green: #81c784;
$color-lightgreen: #aed581;
$color-yellow: #fff176;
$color-amber: #ffd54f;
$color-orange: #ffb74d;
$color-deeporange: #ff8a65;
$color-brown: #a1887f;

// Colores oscuros
$color-red-dark: #d32f2f;
$color-pink-dark: #c2185b;
$color-purple-dark: #7b1fa2;
$color-deeppurple-dark: #512da8;
$color-indigo-dark: #303f9f;
$color-blue-dark: #1976d2;
$color-lightblue-dark: #0288d1;
$color-cyan-dark: #0097a7;
$color-teal-dark: #00796b;
$color-green-dark: #388e3c;
$color-lightgreen-dark: #689f38;
$color-yellow-dark: #fbc02d;
$color-amber-dark: #ffa000;
$color-orange-dark: #f57c00;
$color-deeporange-dark: #e64a19;
$color-brown-dark: #5d4037;

:root {
  --color-red: #e57373;
  --color-pink: #f06292;
  --color-purple: #ba68c8;
  --color-deeppurple: #9575cd;
  --color-indigo: #7986cb;
  --color-blue: #64b5f6;
  --color-lightblue: #4fc3f7;
  --color-cyan: #4dd0e1;
  --color-teal: #4db6ac;
  --color-green: #81c784;
  --color-lightgreen: #aed581;
  --color-yellow: #fff176;
  --color-amber: #ffd54f;
  --color-orange: #ffb74d;
  --color-deeporange: #ff8a65;
  --color-brown: #a1887f;

  --color-red-dark: #d32f2f;
  --color-pink-dark: #c2185b;
  --color-purple-dark: #7b1fa2;
  --color-deeppurple-dark: #512da8;
  --color-indigo-dark: #303f9f;
  --color-blue-dark: #1976d2;
  --color-lightblue-dark: #0288d1;
  --color-cyan-dark: #0097a7;
  --color-teal-dark: #00796b;
  --color-green-dark: #388e3c;
  --color-lightgreen-dark: #689f38;
  --color-yellow-dark: #fbc02d;
  --color-amber-dark: #ffa000;
  --color-orange-dark: #f57c00;
  --color-deeporange-dark: #e64a19;
  --color-brown-dark: #5d4037;
}
